<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>
    <section class="tab-components">
        <div class="container-fluid style-destroyer">
            <div class="form-elements-wrapper">
                <div class="row">
                    <div class="">
                        <div class="title-wrapper pt-30">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="title mb-30">
                                        <h2>New Menu</h2>
                                    </div>
                                </div>
                                <!-- end col -->
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>
                        <div class="card-style mb-30">
                            <form action="/menus" method="post">
                                <div class="input-style-1">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name" placeholder="product name">
                                    <label for="price">Price (Unit)</label>
                                    <input type="number" id="price" name="price" placeholder="price">
                                </div>
                                <div class="select-style-1">
                                    <div class="select-position">
                                        <select name="category" id="category">
                                            <% for(let category of categories){ %>
                                                <option value="<%=category%>">
                                                    <%=category%>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>
                                </div>
                                <button class="main-btn active-btn rounded-full btn-hover">Save</button>
                        </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <%- include('partials/scripts') %>

</html>